@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* margin: 0 auto; */
  font-family: "KCC-Ganpan";
}
a {
  text-decoration: none;
  color: #000;
}
article {
  margin: 0 auto;
}

/* menu-header */
.menu-header {
  background-color: #000;
  height: 60px;
}
.menu-header > .left {
  line-height: 60px;
  width: 1200px;
  margin: 0 auto;
}

.menu-header a,
i,
span {
  color: #fff;
  font-size: 14px;
  margin-right: 3px;
}
/* <!-- *********article*********** --> */
article {
  padding: 50px 0px;
}
article > .menu-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
article > .menu-intro > .menu-titile > h3 {
  font-size: 40px;
}
article > .menu-intro > .menu-list > ul {
  display: flex;
  font-size: 18px;
  /* white-space: nowrap; */
}
article > .menu-intro > .menu-list > ul > li {
  text-align: center;
  padding-left: 25px;
  /* background-color: aqua; */
}

/* hover */
article > .menu-intro > .menu-list > ul > li > a {
  color: #b8b8b8;
}
article > .menu-intro > .menu-list > ul > li > a:hover {
  color: #000;
}
/*btn-click*/
.btn_click {
  /* border-bottom: 3px solid red; */
  text-decoration: underline;
  text-decoration-color: #e22219;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px; /********************************질문*/
}
article > .menu-intro > .menu-list > ul > li:first-child > a {
  color: #e22219;
}
/* item */
article > .item {
  padding: 50px;
  padding-bottom: 100px;
  text-align: center;
}

article > .item > ul img {
  width: 220px;
}

/* 여기다 여기 수정한곳 여기야 */
article > .item > .flex > li > a > p {
  font-size: 20px;
  color: #000;
}
/* 여기다 여기 수정한곳 여기야 */

.flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 70px;
  row-gap: 70px;
}

/* 여기 js 하려고  */
.item {
  display: none;
  width: 1200px;
  margin: 0 auto;
}
.on_item {
  display: block;
}
/* 여기 js 하려고  */

/* 미디어쿼리 */
@media screen and (max-width: 768px) {
  .menu-header {
    display: none;
  }

  article {
    padding: 0;
    margin: 0;
  }
  .menu-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article > .menu-intro > .menu-titile > h3 {
    font-size: 1.75em;
  }
  article > .menu-intro > .menu-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  article > .menu-intro > .menu-list > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr, 1fr;
  }

  article > .menu-intro > .menu-list > ul > li {
    border-bottom: 1px solid #f2ebe6;
    line-height: 49px;
    font-size: 18px;
    padding-left: 0;
    white-space: nowrap;
  }
  article > .menu-intro > .menu-list > ul > li:first-child {
    border-bottom: 2px solid #e22219;
  }
  article > .menu-intro > .menu-list > ul > li::before {
    content: "|";
    color: #b8b8b8;
    display: flex;
    position: absolute;
  }
  article > .menu-intro > .menu-list > ul > li:first-child::before {
    display: none;
  }
  article > .menu-intro > .menu-list > ul > li:nth-of-type(5)::before {
    display: none;
  }

  .btn_click {
    text-decoration: none;
  }

  article > .item {
    padding: 0px;
    border-top: 1px solid #f2ebe6;
  }
  article > .item a {
    display: flex;
    align-items: center;
  }

  article > .item a > img {
    width: 120px;
  }
  article > .item > .flex > li {
    border-bottom: 1px solid #f2ebe6;
  }
  article > .item > .flex > li > a > p {
    font-size: 18px;
    margin-left: 10px;
  }
  article > .item > .flex > li > a > span {
    color: #000;
    font-size: 24px;
    position: absolute;
    right: 10px;
  }

  article > .item > .flex {
    /* width: 768px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 0px;
  }
}
