/* header start */

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    width: 100%;
    z-index: 50;
}

.tit_btn{
    display: none;
}

.tit_logo {
    display: none;
}

.tit_btn_right {
    display: none;
}

@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait) {
    .tit_btn {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px 1px;
        height: 57px;
    }
    .head_btn {
        background: url(./img/다운로드.png) no-repeat 50%;
        background-size: 22px auto;
        text-indent: -9999em;
        width: 60px;
        border: none;
    }

    .right {
        left: auto;
        right: 0;
    }

    .tit_logo {
        display:block;
    }
    
    .btn_order {
        background-color: var(--orange-red);
        height: 25px;
        font-size: 12px;
        width: 100%;
        border-radius: 25px;
        border: none;
    }
    strong {
        color: #fff;
    }
}

header > nav {
    padding-top: 20px;
    display: flex;
    height: 100px;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 3px rgb(173, 173, 173);
}

header > nav > .logo {
    margin-right: 2.1em;
}

header > nav > .mainmenu {
    display: flex;
    align-items: center;
}

@media screen and (min-width:769px) and (max-width:1280px) {
    .tit_logo {
        display: none;
    }
}


@media (max-height: 500px) and (orientation: landscape), screen and (max-width: 768px) and (orientation: portrait) {
    header nav {
        display: none;
    }
    .tit_logo {
        display: block;
        background: url(./img/logo_header.51e1a8b7.gif) no-repeat 50%;
        text-indent: -9999em;
        background-size: 44px auto;
        height: 100%;
        line-height: 56px;
    }
}

.back::before {
    content: '';
    background-color: #fff;
    width: 100%;
    height: 320px;
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    box-shadow: 2px 2px rgb(202, 202, 202);
}

header > nav .mainmenu > ul {
    display: flex;
    flex-wrap: nowrap;
}

header > nav .mainmenu > ul > li {
    float: left;
    vertical-align: middle;
    position: relative;
    width: 162px;
}

header > nav .mainmenu > ul > li > button {
    width: 190px;
    height: 100px;
    border: none;
    background-color: #fff;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header > nav .mainmenu > ul > li > button > span {
    font-size: 0.5rem;
    padding: 3px 0px 0px 12px;
}

header > nav .mainmenu > ul:hover {
    z-index: 100;
}

header > nav .mainmenu > ul:hover .submenu {
    left: 0;
}

header > nav .mainmenu > ul:hover .back::before {
    top: 120px;
    left: 0;
    z-index: -2;
}

header > nav .mainmenu > ul > li .submenu:hover {
    z-index: 100;
}

header > nav .mainmenu > ul > li .submenu {
    position: absolute;
    overflow: hidden;
    top: 100%;
    z-index: -1;
    left: -2000px;
    width: 100%;
}

header > nav .mainmenu > ul > li .submenu > li {
    margin-top: 8px;
}

header > nav .mainmenu > ul > li .submenu > li > a {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #000;
    font-weight: bold;
    line-height: 22px;
    padding-left: 12px;
}

header .gameng {
    background-color: var(--brown);
    color: #fff;
    font-size: 22px;
    width: 166px;
    border-radius: 25px;
    border: none;
    height: 50px;
}

header .deliver {
    background-color: var(--orange-red);
    color: #fff;
    font-size: 22px;
    width: 166px;
    border-radius: 25px;
    border: none;
    height: 50px;
}

header > nav .mainmenu > button {
    margin-left: 25px;
    cursor: pointer;
    padding-bottom: 3px;
}

/* @media (max-height: 500px) and screen and (max-width: 768px) {
    .logo {
        background: url(./img/www_burgerking_co_kr/logo_header.51e1a8b7.gif) no repeat 50%;
        background-size: 44px auto;
    }
    .mainmenu {
        display: none;
    }
} */
